
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
/tests/*
/src/Entity/Client.php
/src/Entity/intermidate.php
/src/Entity/junior.php
/src/Entity/level.php
/src/Entity/User.php
/src/Service/Game.php
/src/Service/PrimeFactor.php
/src/Service/Rectangle.php
/src/Service/square.php
/src/Service/MovieRental/*
.idea